#buttons {
  position: fixed;
  padding: 0;
  width: 100%;
}

#cards {
  height: 10rem;
  width: 100%;
}

#progress {
  /* width: 100%; */
  /* position: fixed;
  top: 10vh; */
  margin-top: 10vh;
}

#progress-bar {
  height: 20px;
  background-color: blue;
}
